[core]
	pager = delta
	editor = code --wait
[interactive]
	diffFilter = delta --color-only
[delta]
	features = catppuccin-frappe
	navigate = true
	line-numbers = true
[merge]
	conflictStyle = zdiff3
[push]
	autosetupremote = true
[pull]
	rebase = true
[commit]
	gpgsign = true
[gpg]
	program = gpg
[include]
	path = ~/.config/delta/themes/catppuccin.gitconfig
	path = ~/.gitconfig.local
